.about-nav {
  margin-top: 10%;
  margin-bottom: 2%;
  &bar {
    
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      overflow: hidden;
      background-color: $black;
    }

    li {
      
      display: inline-block;
      letter-spacing: 2px;
      padding: 14px 10%;
      text-decoration: none;
      color: $grey;
      cursor: pointer;
    }

    li:hover {
      font-weight: 700;
      color: #fff;
      
    }
  }
}
